@model NUBIFIE_Web_Portal.Controllers.MenuController.MyViewModel
@{
    ViewData["Title"] = "NACM";
}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>NUBIFIE - NACM</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- =======================================================
    * Template Name: ZenBlog
    * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
    * Updated: Mar 17 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https:///bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
    <!-- ======= Main ======= -->
    <main id="main">

        <section>
            <div class="container" data-aos="fade-up">
                <div class="row">
                    @foreach (var obj in Model.ObjSysOptionList)
                    {
                        <div class="col-12 text-center mb-5">
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <h3 class="display-6">NATIONAL ADMINISTRATIVE COUNCIL MEMBERS</h3>
                                    <p>@obj.NACM_Intro</p>
                                </div>
                            </div>
                        </div>
                    }

                    @{
                        var newsList = Model.ObjNACMList.ToList();
                        var obj0 = newsList[0];

                        <div class="col-12 text-center mb-5">
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <img src="~/img/NACM/@obj0.PersonPicAddress" alt="" class="img-fluid rounded-circle w-50 mb-4">
                                    <h4>@obj0.PersonName</h4>
                                    <span class="d-block mb-3 text-uppercase">@obj0.PersonTitle</span>
                                    <p>@obj0.PersonContent</p>
                                </div>
                            </div>
                        </div>
                    }

                    @foreach (var obj in Model.ObjNACMList.Skip(1))
                    {
                        <div class="col-lg-4 text-center mb-5">
                            <img src="~/img/NACM/@obj.PersonPicAddress" alt="" class="img-fluid rounded-circle w-50 mb-4">
                            <h4>@obj.PersonName</h4>
                            <span class="d-block mb-3 text-uppercase">@obj.PersonTitle</span>
                            <p>@obj.PersonContent</p>
                        </div>
                    }

                </div>
            </div>
        </section>

    </main>
    <!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="footer-legal">
            <div class="container">

                <div class="row justify-content-between">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        <div class="copyright">
                            © Copyright <strong><span>NUBIFIE</span></strong>. All Rights Reserved
                        </div>

                        <div class="credits">
                            <!-- All the links in the footer should remain intact. -->
                            <!-- You can delete the links only if you purchased the pro version. -->
                            <!-- Licensing information: https://bootstrapmade.com/license/ -->
                            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
                            Designed by <a href="https://flintvision.com/">FlintVision Technology</a>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
                            <a href="#" title="X (Twitter)" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" title="Facebook" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" title="Instagram" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" title="Skype" class="google-plus"><i class="bi bi-skype"></i></a>
                            <!-- <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a> -->
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </footer>

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

</body>

</html>
